@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Perfil do GitHub: </strong> <a href="https://github.com/leosilvajr"> Leonardo Silva</a>
</address>